{% extends "layout.njk" %}

{% block styles %}
    <style>
        span {
            font-size: 14px;
            color: #949494;
        }
    </style
{% endblock %}



{% block content %}
    <div class="form-container">
        <div class="container">
            <br/>
            <a href="http://localhost:8080/news" type="button" class="btn btn-primary btn-md">Accueil</a>
            <br/>
            <br/>
            <span><b>catégorie</b> <a href="#">{{ news.category }}</a></span>
            <hr>
            <h1>{{ news.title }}</h1>
            <hr>
            <span><i class="fa fa-"></i> {{ news.author }}</span> |
            <span><i class="fa fa-"></i> {{ news.date }}</span>

            <p>{{ news.content }}</p>

        </div>
    </div>
{% endblock %}


{% block scripts %}
    {% include "../../back-office/news/_includes/js/date-time-picker.njk" %}
    <script>
        // Local scripts
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'YYYY-MM-DD HH:mm',
                defaultDate: "{{ oldValues['date'] if oldValues['date'] else  news.date }}"
            });
        });
    </script>
{% endblock %}