{% extends "layout.njk" %}

{% block styles %}
    <style>
        @import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400, 600";

        *,
        *::before,
        *::after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        body {
            height: 100%;
            width: 100%;
            padding: 0px;
            margin: 0;
            font-family: "Source Sans Pro", sans-serif;
            background: linear-gradient(to right, #4dedbc, #12c2e9);
        }

        .card {
            position: relative;
            border-radius: 6px;
            overflow: hidden;
            background-color: #fafafa;
            border: 0px;
            transition: all 0.3s ease-in-out;
        }

        .card .card-img {
            /*height: auto;*/
            width: 100%;
            object-fit: cover;
            background-color: #e2e2e2;
            position: relative;
            background-size: cover;
            background-position: center top;
        }

        .card:hover {
            transform: scale(1.01);
            transition: all 0.5s ease-in-out;
        }

        .card .card-content span {
            margin-bottom: 0.5rem;
            position: relative;
            display: block;
        }

        .card .card-content {
            width: 100%;
            overflow-x: hidden;
            padding: 10px 20px 30px 20px;
            position: relative;
            overflow-y: hidden;
        }

        .card .card-content .bttn {
            display: inline-block;
            padding: 7px 8px;
            text-align: center;
            border-radius: 3px;
            background-color: #39454b;
            text-decoration: none;
            color: #fff;
            transition: 300ms all;
        }

        .card .card-content .bttn:hover {
            background-color: #3e4c53;
            color: #fff;
        }

        .card .card-content p:first-of-type {
            margin-top: 0px;
            text-align: left;
        }
        .btns-container{
            padding:25px 0;
            display: flex;
            justify-content: flex-end;
        }
        .btns-container a{
            margin: 10px;
        }
        .card-content span{
            font-size: 14px;
            color: #949494;
        }
        .category-badge {
            background-color: #d41531;
            color: #ffffff;
            font-weight: bold;
            padding: 8px;
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 200;
        }
        .category-badge a {
            color: inherit;
            text-decoration: none;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row btns-container">
            <a class="btn btn-primary" role="button" href="http://localhost:8080/admin">Espace Admin</a>
        </div>

        <div class="row mt-5 mb-5">
            {% for nws in news %}
                <!-- card 1 -->
                <div class="col-xs-12 col-sm-12 col-md-4 d-flex align-items-stretch mb-3">
                    <div class="card">
                        <span class="category-badge"><a href="#">{{ nws.category }}</a></span>
                        <img class="card-img" src={{ nws.urlToImg }}>
                        <div class="card-content">
                            <h4>{{ nws.title }}</h4>
                            <span>Par {{ nws.author }} <br>
                                le {{ nws.date }}</span>
                            <p> {{ nws.description }} </p>
                            <a href="http://localhost:8080/news/{{ nws.id }}" class="bttn">Lire les details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
