{% extends "layout.njk" %}

{% block styles %}
    {% include "./_includes/css/date-time-picker.njk" %}
    {% include "./_includes/css/bootstrap-select.njk" %}
    <style>
        .invalid-feedback {
            display: inherit;
        }
    </style
{% endblock %}



{% block content %}
    <div class="form-container">
        <div class="container">
            <hr>
            <h1>Modifier une nouvelles</h1>
            <hr>


            <!-- Update form -->
            <form method="POST" action="http://localhost:8080/news/{{ news.id }}?_method=PUT">
                <div class="form-group">
                    <label for="title">Titre</label>
                    <input class="form-control {{ "is-invalid" if errors[0] else "is-valid" }}"
                           name="title"
                           value="{{ oldValues['title'] if oldValues['title']  else news.title }}"
                    >
                    <div class="invalid-feedback">{{ errors[0].msg }}</div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control {{ "is-invalid" if errors[1] else "is-valid" }}"
                              name="description"
                    >{{ oldValues['description'] if oldValues['description']  else  news.description }}</textarea>
                    <div class="invalid-feedback">{{ errors[1].msg }}</div>
                </div>
                <div class="form-group">
                    <label for="content">Contenu</label>
                    <textarea class="form-control {{ "is-invalid" if errors[2] else "is-valid" }}"
                              name="content"
                              rows="5"
                    >{{ oldValues['content'] if oldValues['content'] else news.content }}</textarea>
                    <div class="invalid-feedback">{{ errors[2].msg }}</div>
                </div>
                <div class="form-group">
                    <label for="author">Auteur</label>
                    <input class="form-control {{ "is-invalid" if errors[3] else "is-valid" }}"
                           name="author"
                           value="{{ oldValues['author'] if oldValues['author'] else  news.author }}"
                    >
                    <div class="invalid-feedback">{{ errors[3].msg }}</div>
                </div>
                <div class="form-group">
                    <label for="urlToImg">Image URL</label>
                    <input class="form-control {{ "is-invalid" if errors[4] else "is-valid" }}"
                           name="urlToImg"
                           type="url"
                           value="{{ oldValues['urlToImg'] if oldValues['urlToImg']
                           else "https://cdn.vox-cdn.com/thumbor/Ikg1yiR_NA8ZSLcyEjfBMWfq41I=/0x146:2040x1214/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/19356926/acastro_191105_3777_death_stranding_0002.jpg" }}"
                            {#                           else  news.urlToImg#}
                    >
                    <div class="invalid-feedback">{{ errors[4].msg }}</div>
                </div>
                <div class="form-group">
                    <label for="date">Date</label>
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        <input type="text"
                               class="form-control datetimepicker-input {{ "is-invalid" if errors[5] else "is-valid" }}"
                               data-target="#datetimepicker1"
                               name="date"
                        />
                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                    <div class="invalid-feedback">{{ errors[5].msg }}</div>
                </div>
                <div class="form-group">
                    <label for="category">Catégories</label>
                    <select class="selectpicker selectCategoriesPicker" name="category" data-live-search="true">
                        {% for cat in categories %}
                            <option data-tokens="{{ cat }}">{{ cat }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Soumettre</button>
            </form>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {% include "./_includes/js/date-time-picker.njk" %}
    {% include "./_includes/js/bootstrap-select.njk" %}
    <script>
        // Local scripts
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'YYYY-MM-DD HH:mm',
                defaultDate: "{{ oldValues['date'] if oldValues['date'] else  news.date }}"
            });
        });

        const selectCat = "{{ oldValues['category'] if oldValues['category'] else news.category }}";

        console.log(selectCat);

        $('.selectCategoriesPicker').selectpicker('val', selectCat);
    </script>
{% endblock %}