<template>
    <div class="bar">
        <h2>Ajouter nouvelle</h2>


        <!--                action="http://localhost:8080/news" method="POST" -->
        <form @submit.prevent="onSubmitForme">
            <div class="form-group">
                <label for="title">titre</label>
                <input class="form-control"
                       id="title"
                       name="title"
                       value=""
                >
            </div>
            <div class="form-group">
                <label for="description">description</label>
                <textarea class="form-control"
                          id="description"
                          name="description"
                          value=""
                ></textarea>
            </div>
            <div class="form-group">
                <label for="content">contenu</label>
                <textarea class="form-control"
                          id="content"
                          name="content"
                          value=""
                ></textarea>
            </div>
            <div class="form-group">
                <label for="author">auteur</label>
                <input class="form-control"
                       id="author"
                       name="author"
                       value=""
                >
            </div>
            <div class="form-group">
                <label for="urlToImg">image URL</label>
                <input class="form-control"
                       id="urlToImg"
                       name="urlToImg"
                       type="url"
                       value=""
                >
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input id="date" type="date"
                           class="form-control"
                           data-target="#datetimepicker1"
                           name="date"
                    />
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="category">Catégories</label>
                <select id="category" class="selectpicker" name="category" data-live-search="true">
                    <option data-tokens="Sport">Sport</option>
                    <option data-tokens="Tech">Tech</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Soumettre</button>
        </form>


        <div>
            <app-contact-link></app-contact-link>
        </div>
    </div>
</template>

<script src="add-news.js"></script>
<!--<style lang="less" src="add-news.less"></style>-->
