<template>
  <div>
    <p>
      <router-link to="/">Home</router-link>
      <router-link to="/news">Liste Nouvelle</router-link>
      <router-link to="/news/add">Ajouter Nouvelle</router-link>
    </p>
    <router-view></router-view>
  </div>
</template>
