<template>
    <div>
        <h2>Dérnières Nouvelles</h2>
        <ul>
            <li v-for="(item, index) in news">
                {{ index }} - {{ item.title }} <br>
                {{ item.content }}
                <br>
                <br>
            </li>
        </ul>
    </div>
</template>

<script src="news-list.js"></script>
