{% extends "layout.njk" %}

{% block styles %}
    <link href="http://localhost:8080/scripts/toastr.min.css" rel="stylesheet"/>
    <style>
        .action-btns-container {
            display: flex;
        }

        .action-btns-container * {
            margin: 5px;
        }

        .upper-container{
            display: flex;
            justify-content: space-between;
        }
    </style>
{% endblock %}



{% block content %}
    <div class="form-container">
        <div class="container">
            <hr>
            <div class="upper-container">
                <div>
                    <h1>Gestion des nouvelles</h1>
                </div>

                <div>
                    <a href="http://localhost:8080/news/add" class="btn btn-secondary btn-lg active" role="button"
                       aria-pressed="true">Ajouter une nouvelle</a>
                </div>

            </div>
            <hr>
            <!-- select news  -->
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for nws in news %}

                        <tr id="{{ nws.id  }}" >
                            <td>
                                {{ nws.id }}
                            </td>
                            <td>
                                {{ nws.title }}
                            </td>
                            <td>
                                {{ nws.date }}
                            </td>
                            <td class="action-btns-container">
                                <a href="http://localhost:8080/news/update/{{ nws.id }}" type="button" class="btn btn-primary btn-sm">Modif</a>
                                <button type="button" class="btn btn-danger btn-sm"
                                    onclick="onClickDelete({{ nws.id }})"
                                >Suppr</button>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="http://localhost:8080/scripts/toastr.min.js"></script>
    <script>
        function onClickDelete (id){
            $.ajax({
                url: "http://localhost:8080/news/"+id,
                type: 'DELETE',
                beforeSend:function(){
                    return confirm("Are you sure?");
                },
                success: function(result) {
                    $("tr#"+id).remove();
                    toastr.success("La nouvelle #"+id+" à été supprimée avec succès");
                },
                error: function(result) {
                    toastr.error("Une erreur s'est produite");
                }
            });
        }

    </script>
{% endblock %}